body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(184, 184, 184);
}

.main-calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 520px;
    border: #555555 solid 3px;
    align-items: center;
    background-color: #000000;
    box-shadow: 0px 0px 3px black;
    border-radius: 15px;
}

.display {
    max-width: 336px;
    min-width: 336px;
    height: 100px;
    border: black solid 3px;
    margin: 5px;
    text-align: right;
    padding: 10px;
    font-family: sans-serif;
    font-size: 45px;
    margin-top: 12px;
    color: white;
    overflow-x: hidden;
}

.button-containers {
    display: flex;
    padding: 20px
}

.num-container {
    justify-content: center;
}

.operator-container {
    display: flex;
    flex-direction: column;
}

button {
    width: 70px;
    height: 70px;
    font-size: 27px;
    text-align: center;
}

.num-button {
    background-color: #333333;
    color: white;
    border-radius: 35px;
}

.operator-button {
    background-color: orange;
    color: white;
    border-radius: 35px;
}

.toperator-button {
    background-color: #999999;
    color: black;
    border-radius: 35px;
}